body {  
    background: rgb(124, 124, 236);
    font: normal 15pt arial;

}
header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 650px;
    margin: auto auto 30px auto;
    box-shadow: 3px 3px 10px rgb(12, 11, 11);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

li {
    list-style: none;
}